<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/804adbe216.js" crossorigin="anonymous"></script>
    <link href="style.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <footer class="footer">
        <div class="footer_bars">

            <div class="aboutus">
                <h2 class="aboutus_h">About us</h2>
                <p class="aboutus_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium amet, 
                    asperiores explicabo ipsam animi accusantium. Possimus, quas at nobis deleniti ab aut 
                    ipsa illo veniam, quis odit in quidem quae.</p>
                <ul class="aboutus_ul">
                    <li class="aboutus_li"><a class="aboutus_a" href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="aboutus_li"><a class="aboutus_a" href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="aboutus_li"><a class="aboutus_a" href="#"><i class="fab fa-twitter"></i></a></li>
                </ul>    
            </div>

            <div class="links">
                <h2 class="aboutus_h">Quick Links</h2>
                <ul class="footer_items">
                    <li class="footer_lists"><a class="footer_tags" href="home.html">Home</a></li>
                    <li class="footer_lists"><a class="footer_tags" href="DogBreed.html">Dog Breed</a></li>
                    <li class="footer_lists"><a class="footer_tags" href="DogCare.html">Dog Care</a></li>
                    <li class="footer_lists"><a class="footer_tags" href="Reviews.html">Reviews</a></li>
                    <li class="footer_lists"><a class="footer_tags" href="AboutUs.html">About Us</a></li>
                    <li class="footer_lists"><a class="footer_tags" href="LogIn.html">Log In / Sign UP</a></li>
                </ul>
            </div>

            <div class="contact_us">
                <h2 class="aboutus_h">Contact US</h2>
                <ul class="info">
                    <li class="info_list">
                        <span class="info_list"><i class="fa-regular fa-envelope"></i></span>
                        <p class="info_p"><a class="info_a" href="#">findafido@gmail.com</a></p>
                    </li>
                    <li class="info_list">
                        <span class="info_list"><i class="fa-solid fa-location-dot"></i></span>
                        <span class="info_list">Oakland Community College Hall</span>
                    </li>
                    <li class="info_list"><a class="info_a" href="#"><img class="footer_logo" src="./icons/Logo_Icon.png" alt="Company Logo!"></a></li>
                </ul>
                
            </div>
        </div>

    </footer>

    <div class="copy">
        <p>Copyright © Find-A-Fido. All rights Reserved.</p>
    </div>

</body>
</html>


