<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <footer class="footer">
        <div class="container">

            <div class="mainfooter">
                
                <ul class="nav__lists">
                    <li><a class="nav__tags" href="home.html">Home</a></li>
                    <li><a class="nav__tags" href="DogBreed.html">Dog Breed</a></li>
                    <li><a class="nav__tags" href="DogCare.html">Dog Care</a></li>
                    <li><a class="nav__tags" href="Reviews.html">Reviews</a></li>
                    <li><a class="nav__tags" href="AboutUs.html">About Us</a></li>
                </ul>
            </div>
            <div class="middlefooter">
                <h1>Find-A-Fido</h1>
                <p>Find the best friend with your lifestyle!</p>
            </div>
            <div class="thirdfooter">
                <h1 class="social_head">Social Media!</h1>
                <a class="social_links" href="facebook.com">Facebook</a>
                <a class="social_links" href="twitter.com">Twitter</a>
                <a class="social_links" href="signup.html">Signup</a>
            </div>

        </div>

        <div class="cpr">
            <h1 class="head">&copy Find-A-Fido Corp.</h1>
        </div>
    </footer>
    
</body>
</html>