<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <nav>
        <label>
            <img class="nav__logo" src="./assets/Logo_Icon.png" alt="Company Logo!">
        </label>
        <h1 class="head">Find-A-<span class="head_f">Fido!</span></h1>
        <ul class="nav__lists">
            <li><a class="nav__tags" href="home.html">Home</a></li>
            <li><a class="nav__tags" href="DogBreed.html">Dog Breed</a></li>
            <li><a class="nav__tags" href="DogCare.html">Dog Care</a></li>
            <li><a class="nav__tags" href="Reviews.html">Reviews</a></li>
            <li><a class="nav__tags" href="AboutUs.html">About Us</a></li>
            <li><a class="nav__tags btna" href="SignUp.html">Sign UP</a></li>
            <li><a class="nav__tags btnb" href="LogIn.html">Log IN</a></li>
        </ul>
    </nav>
</body>
</html>